.navbar.bg-light {
    background-color: #6a47b3!important;
}

.navbar-nav .nav-item {
    color: #b578f8;
}

#areaReservas {
    min-height: 100vh; /* Usei viewport height para ocupar pelo menos a altura da tela */
    display: flex;
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    background-color:  #6a47b3;
    margin-bottom: 3%;
}

.card {
    /* Estilos para o card de reserva */
    border: 1px solid #0f0e0e;
    margin-bottom: 10px;
    padding: 5px;
    width: 300px; /* ou qualquer valor desejado para a largura do card */
    margin: 15px; /* ou qualquer valor desejado para a margem entre os cards */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar os cards horizontalmente */
}

#areaReservas p {
    color: #000; /* Cor do texto de exemplo */
    font-size: 14px; /* Tamanho da fonte de exemplo */
}

#reservasChart {
    max-width: 100%; /* Garantir que o gráfico não ultrapasse a largura do contêiner */
    height: auto; /* Ajustar a altura automaticamente */
    margin: 0 auto; /* Centralizar o gráfico horizontalmente */
    background-color: #6a47b3;
    border: 1px solid #0f0e0e; /* Adicionar borda para combinar com os cards */
    padding: 10px; /* Adicionar padding para espaçamento interno */
}

#intervaloTempo {
    margin-bottom: 20px;
    background-color: #b578f8; /* Cor de fundo para combinar com a paleta */
    color: #fff; /* Cor do texto */
    border: 1px solid #0f0e0e; /* Borda para combinar com os cards */
    padding: 5px; /* Adicionar padding para espaçamento interno */
    border-radius: 5px; /* Adicionar borda arredondada */
}