.navbar.bg-light {
    background-color: #6a47b3!important;
}

.navbar-nav .nav-item {
    color: #b578f8;
}

#areaReservas {
    min-height: 100vh; /* Usei viewport height para ocupar pelo menos a altura da tela */
    display: flex;
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    background-color:  #6a47b3;
    margin-bottom: 3%;
}

.card {
    /* Estilos para o card de reserva */
    border: 1px solid #0f0e0e;
    margin-bottom: 10px;
    padding: 5px;
    width: 300px; /* ou qualquer valor desejado para a largura do card */
    margin: 15px; /* ou qualquer valor desejado para a margem entre os cards */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar os cards horizontalmente */
}

#areaReservas p {
    color: #000; /* Cor do texto de exemplo */
    font-size: 14px; /* Tamanho da fonte de exemplo */
}