/* Container Flex */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilo dos Cards */
.card {
    flex: 0 0 calc(48% - 10px); /* Largura dos cards com um pequeno espaço entre eles */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Restante do Estilo */
.container-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6a47b3;
}

.style-nav {
    font-weight: bold;
    color: #b578f8;
}

.container-body {
    background-color: #faf4f4;
}

.container-login-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.style-login-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6a47b3;
    width: 60vb;
    margin-top: 10vh;
    border: 1px solid #27214d;
    border-radius: 12px;
}

.style-label {
    display: flex;
    color: rgb(212, 191, 234);
    font-weight: bold;
}

.style-input {
    border: 1px solid #27214d;
    padding: 8px;
    border-radius: 10px;
}

.style-botton {
    background-color: #382472;
    color: white;
    border-radius: 5px;
}
